<header class="app-header">
  <div class="app-header__left">
    <img src="./images/logo.png" alt="Logo" class="app-header__logo">
    <span class="app-header__title">Libralia</span>
  </div>

  <nav class="app-header__right">
    @if(isAuthenticated()) {
    <a [routerLink]="['/dashboard/profile']" class="app-header__link">
      {{ currentUser()?.username }}
    </a>
    <a (click)="logout()" class="app-header__link">
      Cerrar sesión
    </a>
    } @else {
    <a [routerLink]="['/auth/login']" class="app-header__link">
      Login
    </a>
    }
  </nav>
</header>