<form class="register-form" [formGroup]="registerForm" (ngSubmit)="register()">
  <label for="username">Usuario</label>
  <input type="text" id="username" name="username" formControlName="username" />
  <app-input-errors [control]="registerForm.get('username')"></app-input-errors>

  <label for="email">Correo electrónico</label>
  <input type="text" id="email" name="email" formControlName="email" />
  <app-input-errors [control]="registerForm.get('email')"></app-input-errors>

  <label for="password1">Contraseña</label>
  <div class="password-container">
    <input [type]="mostrarContrasenia() ? 'text' : 'password'" id="password1" name="password1"
      formControlName="password1" />
    <img (click)="togglePasswordVisibility()"
      [src]="mostrarContrasenia() ? './show_password.svg' : './hide_password.svg'" alt="Mostrar/Ocultar contraseña"
      class="register-form__icon" />
  </div>
  <app-input-errors [control]="registerForm.get('password1')"></app-input-errors>

  <label for="password2">Repetir contraseña</label>
  <div class="password-container">
    <input [type]="mostrarContrasenia() ? 'text' : 'password'" id="password2" name="password2"
      formControlName="password2" />
    <img (click)="togglePasswordVisibility()"
      [src]="mostrarContrasenia() ? './show_password.svg' : './hide_password.svg'" alt="Mostrar/Ocultar contraseña"
      class="register-form__icon" />
  </div>
  <app-input-errors [control]="registerForm.get('password2')"></app-input-errors>

  <button type="submit" [disabled]="registerForm.invalid">Registrarse</button>
</form>