<form class="register-form" (ngSubmit)="register()" [formGroup]="registerForm">
	<div class="register-form__group register-form__group--username">
		<label for="username" class="register-form__label">Usuario: </label>
		<input type="text" id="username" class="register-form__input" placeholder="Usuario" name="username"
			formControlName="username" required />
		<app-input-errors [control]="registerForm.get('username')"></app-input-errors>
	</div>
	<div class="register-form__group register-form__group--email">
		<label for="email" class="register-form__label">Correo: </label>
		<input type="email" id="email" class="register-form__input" placeholder="Correo" name="email"
			formControlName="email" required />
		<app-input-errors [control]="registerForm.get('email')"></app-input-errors>
	</div>
	<div class="register-form__group register-form__group--password1">
		<label for="password1" class="register-form__label">Contraseña:</label>
		<div class="register-form__input-wrapper">
			<input [type]="mostrarContrasenia() ? 'text' : 'password'" id="password1"
				class="register-form__input register-form__input--password1" placeholder="Contraseña" name="password1"
				formControlName="password1" required />
			@if (mostrarContrasenia()) {
			<img (click)="togglePasswordVisibility()" src="./images/show_password.svg" alt="Ocultar contraseña"
				class="register-form__icon" />
			} @else {
			<img (click)="togglePasswordVisibility()" src="./images/hide_password.svg" alt="Ocultar contraseña"
				class="register-form__icon" />
			}
		</div>
		<app-input-errors [control]="registerForm.get('password1')"></app-input-errors>
	</div>
	<div class="register-form__group register-form__group--password2">
		<label for="password2" class="register-form__label">Confirmar contraseña:</label>
		<div class="register-form__input-wrapper">
			<input [type]="mostrarContrasenia() ? 'text' : 'password'" id="password2"
				class="register-form__input register-form__input--password" placeholder="Contraseña" name="password2"
				formControlName="password2" required />
			@if (mostrarContrasenia()) {
			<img (click)="togglePasswordVisibility()" src="./images/show_password.svg" alt="Ocultar contraseña"
				class="register-form__icon" />
			} @else {
			<img (click)="togglePasswordVisibility()" src="./images/hide_password.svg" alt="Mostrar contraseña"
				class="register-form__icon" />
			}
		</div>
		<app-input-errors [control]="registerForm.get('password2')"></app-input-errors>
	</div>

	<div class="register-form__actions">
		<button class="register-form__button" [disabled]="registerForm.invalid">Registro</button>
	</div>

	@if (error()) {
	<div class="register-form__error">
		{{ error() }}
	</div>
	}

	@if (loading()) {
	<div class="register-form__loading">
		Cargando...
	</div>
	}

</form>