.workspace-page {
  display: grid;
  grid-template-areas:
    "aside form";
  grid-template-rows: auto;
  grid-template-columns: auto 1fr;
}

.workspace-page app-text-editor {
  grid-area: form;
  padding: 2rem;
  margin: 0 auto;
}

.workspace-page app-side-panel {
  grid-area: aside;
}