:host {
  display: block;
  height: 100%;
}

.workspace-page {
  display: grid;
  grid-template-areas: "aside form";
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr;
  height: 100%;
  min-height: 0;
}

.editor-area {
  grid-area: form;
  padding: 2rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.workspace-page app-text-editor,
.workspace-page .content-area {
  grid-area: form;
  min-height: 0;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
}

.workspace-page app-side-panel {
  grid-area: aside;
  height: 100%;
}