<div class="workspace-page">
  <app-side-panel
    (optionSelected)="onOptionSelected($event)">
  </app-side-panel>

  <ng-container [ngSwitch]="selectedOption().menu">
    <app-text-editor 
      *ngSwitchCase="'Manuscrito'"
      [ngClass]="{'editor-area': selectedOption().menu === 'Manuscrito'}">
    </app-text-editor>
    
    <app-topic-panel
      *ngSwitchDefault
      [ngClass]="{'content-area': selectedOption().menu !== 'Manuscrito'}"
      [menu]="selectedOption().menu"
      [option]="selectedOption().option"
      [icon]="selectedOption().icon">
    </app-topic-panel>
  </ng-container>
</div>