.profile-page {
  display: grid;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  grid-template-areas:
    "welcome"
    "data"
    "books";
  grid-template-rows: auto auto 1fr;
  grid-template-columns: 1fr;
  padding: 2rem;
  gap: 2rem;
}

.profile-page app-welcome-message {
  grid-area: welcome;
  text-align: center;
}

.pofile-page app-data-user {
  grid-area: data;
}

.pofile-page app-user-books {
  grid-area: books;
}