<form class="profile-edit-form" (ngSubmit)="profileEdit()" [formGroup]="profileEditForm">
  <div class="profile-edit-form__group profile-edit-form__group--username">
    <label for="username" class="profile-edit-form__label">Usuario:</label>
    <input type="text" id="username" class="profile-edit-form__input" placeholder="Usuario" name="username"
      formControlName="username" required />
    <app-input-errors [control]="profileEditForm.get('username')"></app-input-errors>
  </div>

  <div class="profile-edit-form__group profile-edit-form__group--correo">
    <label for="correo" class="profile-edit-form__label">Correo:</label>
    <input type="text" id="correo" class="profile-edit-form__input" placeholder="Correo" name="correo"
      formControlName="correo" required />
    <app-input-errors [control]="profileEditForm.get('correo')"></app-input-errors>
  </div>

  <div class="profile-edit-form__actions">
    <button class="profile-edit-form__button" [disabled]="profileEditForm.invalid || !profileEditForm.dirty">Guardar
      perfil</button>
    <button class="profile-edit-form__button" routerLink="/dashboard/profile">Volver</button>
  </div>
</form>