<form class="password-reset-form" (ngSubmit)="passwordReset()" [formGroup]="passwordResetForm">


  <div class="password-reset-form__group password-reset-form__group--correo">
    <label for="correo" class="password-reset-form__label">Correo:</label>
    <input type="text" id="correo" class="password-reset-form__input" placeholder="Correo" name="correo"
      formControlName="correo" required />
    <app-input-errors [control]="passwordResetForm.get('correo')"></app-input-errors>
  </div>

  <div class="password-reset-form__actions">
    <button class="password-reset-form__button"
      [disabled]="passwordResetForm.invalid || !passwordResetForm.dirty">Resetear password</button>
    <button class="password-reset-form__button" routerLink="/dashboard/profile">Volver</button>
  </div>
</form>