<form class="login-form" [formGroup]="loginForm" (ngSubmit)="login()">
  <label for="usernameOrEmail">Usuario o correo</label>
  <input type="text" id="usernameOrEmail" name="usernameOrEmail" formControlName="usernameOrEmail" />
  <app-input-errors [control]="loginForm.get('usernameOrEmail')"></app-input-errors>

  <label for="password">Contraseña</label>
  <div class="password-container">
    <input [type]="mostrarContrasenia() ? 'text' : 'password'" id="password" name="password"
      formControlName="password" />
    <img (click)="togglePasswordVisibility()"
      [src]="mostrarContrasenia() ? './show_password.svg' : './hide_password.svg'" alt="Mostrar/Ocultar contraseña"
      class="login-form__icon" />
  </div>
  <app-input-errors [control]="loginForm.get('password')"></app-input-errors>

  <button type="submit" [disabled]="loginForm.invalid">Iniciar sesión</button>
</form>