.welcome {
  text-align: center;

  &__title {
    font-size: 2rem;
    margin: 0 0 .25rem;
    font-weight: 700;
    color: #111;
  }

  .accent {
    color: #007bff;
  }

  &__subtitle {
    margin: 0;
    color: #555;
    font-size: 0.95rem;
  }
}